.team {
    width: 100%;
    padding: 6rem 1rem;
    background-color: #000;
}

.card-container {
    max-width: 1140px;
    margin: auto;
    display: grid;
    grid-gap: 40px;
    grid-template-columns: repeat(2, 1fr);
}

.card-container .card {
    border: 1px solid #eee;
    color: #eee;
}

.card {
    text-align: center;
    padding: 1rem;
    padding-bottom: 40px;
}

.card:hover {
    background-color: #141414;
}

.image {
    width: 100%;
    height: 87%;
    object-fit: cover;
}

.card .btc {
    font-size: 4rem;
    font-weight: 600;
    padding: 1rem;
}

.team p {
    color: #eee;
    padding: 1rem 0;
    font-size: 1.2rem;
}

@media screen and (max-width: 768px) {
    .card-container {
        max-width: 90%;
        margin: auto;
        grid-template-columns: 1fr;
    }

    .card1 {
       height: 550px;
    }
}